.moviesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 0;
  > div {
    width: 25%;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.6);
    padding: 1rem 0;
    > div {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
